<span class="wrapper">
	<div class="header">
		<h1 class="title">Available apartments</h1>
		<!--<input class="filter" placeholder="Filter name" type="text" [(ngModel)]="term" />-->
	</div>
	<div class="apartment-list">
		<!--<li class="list-group-item" *ngFor="let apartment of apartmentList | filter:term:propName">-->
		<div class="apartment-list-item" *ngFor="let apartment of apartmentList">
			<apartment-list-item (click)="apartmentSelected(apartment)" [apartment]="apartment"></apartment-list-item>
		</div>
	</div>
</span>
	