$title_line_height: 36px;
$margin_horizontal: 15px;
$title_margin_vertical: 30px;
$list_padding: 0 20px;

.wrapper {

	.header {
		padding: $list_padding;
		.title {
			font-weight: 400;
			margin: $title_margin_vertical $margin_horizontal;
			display: inline-block;
			font-family: Verdana;
			color: #357ca2;
			line-height: 36px;
			font-size: 30px;
		}
	}
	.apartment-list {
		padding: $list_padding;
		height: calc(100% - #{$title_margin_vertical * 2 + $title_line_height});
		overflow-y: auto;
		.apartment-list-item {
			display: inline-block;
			width: calc((100% / 3) - #{$margin_horizontal * 2});
			margin: $margin_horizontal;
		}
	}
}