$title_line_height: 36px;
$margin_horizontal: 15px;
$title_margin_vertical: 30px;
$list_padding: 0 20px;
$screen_max_width: 1820px;
$screen_breakpoint_diff: 350px;

.wrapper {

	.header {
		padding: $list_padding;
		color: #357ca2;
		h1 {
			font-weight: 400;
			margin: $title_margin_vertical $margin_horizontal;
			display: inline-block;
			font-family: Verdana;
			line-height: 36px;
			font-size: 30px;
			width: 400px;
		}
		.filters {
		    display: inline-block;	
			vertical-align: 4px;
			line-height: $title_line_height;
			label {
				margin-right: 10px;
			}
			.cities {
				select {
					margin-right: 40px;
				}
			}
			select {
				outline: 0;
				height: 30px;
			}
		}
	}
	.apartment-list {
		padding: $list_padding;
		height: calc(100% - #{$title_margin_vertical * 2 + $title_line_height});
		overflow-y: auto;
		.apartment-list-item {
			display: inline-block;
			width: calc((100% / 5) - #{$margin_horizontal * 2});
			margin: $margin_horizontal;
		}
	}
	@media screen and (max-width: #{$screen_max_width}) {
		.apartment-list {
			.apartment-list-item {
				width: calc((100% / 4) - #{$margin_horizontal * 2});
			}
		}
	}
	@media screen and (max-width: #{$screen_max_width - $screen_breakpoint_diff}) {
		.apartment-list {
			.apartment-list-item {
				width: calc((100% / 3) - #{$margin_horizontal * 2});
			}
		}
	}
	@media screen and (max-width: #{$screen_max_width - $screen_breakpoint_diff * 2}) {
		.apartment-list {
			.apartment-list-item {
				width: calc((100% / 2) - #{$margin_horizontal * 2});
			}
		}
		.header {
			.filters {
				display: block;
				margin: 0 0 $title_margin_vertical $margin_horizontal;
			}
		}
	}
	@media screen and (max-width: #{$screen_max_width - $screen_breakpoint_diff * 3 - 80px}) {
		.apartment-list {
			.apartment-list-item {
				width: calc(100% - #{$margin_horizontal * 2});
			}
		}
		.header {
			.filters {
				.cities {
					display: block;
					label {
					    margin-right: 90px;
					}
				}
			}
		}
	}
}