<div class="item">
	<div class="img-wrapper">
		<img [src]="apartment.teaserImageUrl" />
	</div>
	<div class="meta">
		<h3 class="title text-ellipsis" [title]="apartment.title">{{apartment.title}}</h3>
		<div class="address text-ellipsis">{{address}}</div>
		<div class="group">
			<span class="rooms">{{rooms}}</span>
			<span class="meters">{{apartmentSize}}</span>
		</div>
		<div class="group">
			<span class="floor" >floor {{floor}}</span>
			<span class="price">{{price}}</span>
		</div>
		<div class="actions clearfix">
			<span class="mail" (click)="sendMail($event)">
				<i class="material-icons disable-select">mail_outline</i>
			</span>
			<span class="favorites" style="float:right">
				<item-favourite></item-favourite>
			</span>
		</div>
	</div>
</div>
	