@import "../../styles/shared/_colors.scss";

.item {
	cursor: pointer;
	.img-wrapper {
	    width: 100%;
		padding-bottom: 67%;
	}
	.meta {
	    padding: 0 10px;
		.address {
		    font-weight: 800;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.group {
			font-size: 0; //removes the gap between the sections
			margin-bottom: 10px;
			& > span {
				display: inline-block;
				width: 50%;
				font-size: 16px;
				height: 19px;
			}
		}
		.actions {
			.mail {
				i {
					color: $general_blue;
				}
			}
			.favorites, .mail {
				float: right;
				margin: 2px;
			}
		}
	}
}

