<div class="item">
	<div class="img-wrapper">
		<img [src]="apartment.teaserImageUrl" />
	</div>
	<div class="meta">
		<h3 class="title">Burchardstraße 16</h3>
		<div class="address">Sankt Pauli 20359 Hamburg</div>
		<div class="group">
			<span class="rooms">rooms 3.5</span>
			<span class="meters">79 m²</span>
		</div>
		<div class="group">
			<span class="floor">floor 2 </span>
			<span class="price">EUR 1.671</span>
		</div>
		<div class="actions clearfix">
			<span class="mail">
				<i class="material-icons disable-select">mail_outline</i>
			</span>
			<span class="favorites" style="float:right">
				<item-favourite></item-favourite>
			</span>
		</div>
	</div>
</div>
	