$title_line-height: 24px;
$title_margin: 20px;

:host {
	padding: 20px;
	display: block;
	.details {
		border: 1px solid #e2e5e8;
		box-sizing: border-box;
		max-width: 500px;
		height: 400px;
		.title {
			color: #357ca2;
			font-weight: 400;
			padding: 0 10px;
			font-size: 24px;
			line-height: $title_line-height;
			margin: $title_margin 0;
			text-align: center;
		}
		.img-wrapper {
			height: calc(100% - #{$title_line-height} - #{$title_margin} * 2);
			position: relative;
			img {
			    left: 0;
				right: 0;
				position: absolute;
			    margin: 0 auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}	
}	