$title_line-height: 24px;
$title_margin: 20px;

:host {
	padding: 20px;
	display: block;
	.item {
		box-sizing: border-box;
		max-width: 500px;
		height: 400px;
		.title {
			padding: 0 10px;
			font-size: 24px;
			line-height: $title_line-height;
			margin: $title_margin 0;
			text-align: center;
		}
		.img-wrapper {
			height: calc(100% - #{$title_line-height} - #{$title_margin} * 2);
		}
	}	
}	